:root {
  --azv-nav-menu-z-index-1: 999;
}

// :root {
//   --azv-nav-menu-z-index-1: 999;
//   --azv-nav-menu-z-index-2: 1000;
//   --azv-nav-menu-item-min-width: 12em;
//   --azv-nav-menu-root-item-padding: 4px 10px;
//   --azv-nav-menu-item-padding: 8px 10px;
//   --azv-nav-menu-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);

//   --azv-nav-menu-root-item-active-bg-color: rgba(0, 0, 0, 0.05);
//   --azv-nav-menu-root-item-color: #5BC0DE;
//   --azv-nav-menu-root-item-hover-color: #FFF;
//   --azv-nav-menu-item-color: #FFF;
//   --azv-nav-menu-item-hover-color: #FFF;

//   --azv-nav-menu-lv2-item-bg-color: #555;
//   --azv-nav-menu-lv3-item-bg-color: #444;
//   --azv-nav-menu-lv4-item-bg-color: #333;
//   --azv-nav-menu-lv4-item-hover-bg-color: #222;
// }

azv-nav-menu, .azv-nav-menu {
  display: block;
  /* nav */
  &[type=root],
  &[type=root] ul,
  &[type=root] li,
  &[type=root] .azv-nav-menu-label {
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style: none;
    display: block;
    position: relative;
  }
  &[type=root] {
    ul {
      opacity: 0;
      position: absolute;
      top: 100%;
      left: -9999px;
      z-index: var(--azv-nav-menu-z-index-1, 999);
      transition: opacity .3s;
    }
    li:hover > .azv-nav-menu:not([show-on=left-side]),
    .azv-nav-menu-item[data-dev-open] > .azv-nav-menu:not([show-on=left-side]) {
      left: 0;
      opacity: 1;
      z-index: var(--azv-nav-menu-z-index-2, 1000);
    }
    li:hover > .azv-nav-menu[show-on=left-side],
    .azv-nav-menu-item[data-dev-open] > .azv-nav-menu[show-on=left-side]  {
      left: auto;
      right: 0;
      opacity: 1;
      z-index: var(--azv-nav-menu-z-index-2, 1000);
    }
    ul li:hover > .azv-nav-menu:not([show-on=left-side]),
    ul .azv-nav-menu-item[data-dev-open] > .azv-nav-menu:not([show-on=left-side]) {
      top: 0;
      left: 100%;
    }
    ul li:hover > .azv-nav-menu[show-on=left-side],
    ul .azv-nav-menu-item[data-dev-open] > .azv-nav-menu[show-on=left-side] {
      top: 0;
      left: 0;
      right: auto;
      transform: translateX(-100%);
    }
    li {
      cursor: default;
      float: left;
      white-space: nowrap;
    }
    ul li {
      float: none;
    }
  
    /* sub width */
    ul {
      min-width: var(--azv-nav-menu-item-min-width, 12em);
      box-shadow: var(--azv-nav-menu-box-shadow, 2px 2px 2px rgba(0,0,0,0.25));
    }
  
    // /* center */
    // .nav-center {
    //   float: right;
    //   right: 50%;
    // }
    // .nav-center > li {
    //   left: 50%;
    // }
  
    /* root */
    .azv-nav-menu-label {
      padding: var(--azv-nav-menu-root-item-padding, 4px 10px);
    }
  
    /* root: active */
    li .nav-active {
      background-color: var(--azv-nav-menu-root-item-active-bg-color, rgba(0, 0, 0, 0.05));
    }
  
    /* root: hover/persistence */
    li:hover .azv-nav-menu-label {
      background: var(--azv-nav-menu-lv2-item-bg-color, #555);
    }
  
    /* 2 */
    li li .azv-nav-menu-label,
    li:hover li .azv-nav-menu-label {
      padding: var(--azv-nav-menu-item-padding, 8px 10px);
      background: var(--azv-nav-menu-lv2-item-bg-color, #555);
    }
  
    /* 2: hover/persistence */
    li:hover li .azv-nav-menu-label:hover,
    li:hover li:hover .azv-nav-menu-label {
      background: var(--azv-nav-menu-lv3-item-bg-color, #444);
    }
  
    /* 3 */
    li:hover li:hover li .azv-nav-menu-label {
      background: var(--azv-nav-menu-lv3-item-bg-color, #444);
    }
  
    /* 3: hover/persistence */
    li:hover li:hover li .azv-nav-menu-label:hover,
    li:hover li:hover li:hover .azv-nav-menu-label {
      background: var(--azv-nav-menu-lv4-item-bg-color, #333);
    }
  
    /* 4 */
    li:hover li:hover li:hover li .azv-nav-menu-label {
      background: var(--azv-nav-menu-lv4-item-bg-color, #333);
    }
  
    /* 4: hover */
    li:hover li:hover li:hover li .azv-nav-menu-label:hover {
      background: var(--azv-nav-menu-lv4-item-hover-bg-color, #222);
    }
  
    /* ============== */
  
    li .azv-nav-menu-label > * {
      color: var(--azv-nav-menu-root-item-color, #5BC0DE);
      // font-weight: normal;
      // font-size: 16px;
      // line-height: 40px;
      // text-decoration: none;
    }
  
    li:hover .azv-nav-menu-label > * {
      color: var(--azv-nav-menu-root-item-hover-color, #FFF);
    }
  
    li li .azv-nav-menu-label > * {
      color:var(--azv-nav-menu-item-color, #FFF);
      // font-size: 12px;
      // line-height: normal;
    }
  
    li:hover li .azv-nav-menu-label > * {
      color:var(--azv-nav-menu-item-hover-color, #FFF);
    }
  }
}

.azwc-nav-menu-item {
  display: block;
}

.azwc-nav-menu-label {
  display: block;
}
